# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: WebDriverIO CI

on:
  push:
    branches: [ youtube/class5 ]
  pull_request:
    branches: [ master ]

jobs:
  regression:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: SetUp NodeJs
      uses: actions/setup-node@v1
      with:
        node-version: 16.3.0

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v1

    - name: Build Docker image
      uses: docker/build-push-action@v2
      with:
        context: ./
        file: ./Dockerfile
        builder: ${{ steps.buildx.outputs.name }}
        load: true
        tags: automationtest_image:latest
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache
        
    - name: Check docker image
      run: docker images -a   
      
    - name: Run Automation test
      run: docker run --volume "$(pwd)"/reporter:/app/reporter automationtest_image:latest
  
    - name: upload artifacts
      if: always()
      uses: actions/upload-artifact@v2
        with:
          name: htmlreports
          path: reporter/cucumber_report.html
   